html {
  background: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img, svg {
	height: auto;
	max-width: 100%;
}

canvas {
  max-width: 100%;
}

/* ---- */

.page {
  overflow-x: hidden;
}

.pageBody {
  padding-top: 45px;
}

.fedora {
  background-color: #ffffff;
  overflow: visible;
  position: fixed; top: 0; left: 0;
}

.is-scrolling .fedora .inner {
  box-shadow: 0 2px 3px -3px rgba(0,0,0,0.35);
}

.fedora > .inner {
  border-bottom: 1px solid #f5f5f5;
  box-sizing: border-box;
  height: 45px;
  margin: 0 auto;
  max-width: 1140px;
}

.fedora ul#logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.fedora ul#logo li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.fedora ul#logo li svg {
	border-radius: 3px;
  height: 32px;
  margin: 6px;
  margin-left: 0;
	width: auto;
	z-index: 1;
}

.fedora ul#logo li h1 {
  line-height: 44px;
  margin: 0;
  padding: 0;
}

.fedora ul#logo li h1 a {
  color: #333333;
}

@media screen and ( max-width: 1140px ) {
}

/* ---- */

.main {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.column {
  padding-top: 36px;
  padding-bottom: 72px;
}

.column > *:last-child {
  margin-bottom: 0;
}

[data-layout~="0col"] .column--main,
[data-layout~="1col"] .column--main, .column--main
{
  padding-left : 0px;
  padding-right: 0px;
}

[data-layout~="2col"] .column--main,
[data-layout~="2col"][data-layout~="right"] .column--main,
[data-layout~="2col"][data-layout~="split"] .column--main,
[data-layout~="3col"] .column--main,
[data-layout~="3col"][data-layout~="right"] .column--main
{
  padding-left : 0;
  padding-right: 12px;
}

[data-layout~="2col"][data-layout~="left"] .column--main,
[data-layout~="3col"][data-layout~="left"] .column--main
{
  padding-left : 12px;
  padding-right: 0;
}

[data-layout~="3col"][data-layout~="split"] .column--main 
{
  padding-left : 12px;
  padding-right: 12px;
}

@media screen and ( max-width: 1140px ) {

  #column--main {
    padding-left : 12px;
    padding-right: 12px;
  }

}

/* ---- */

.column--side {
  box-sizing: border-box;
}

[data-layout~="1col"] .column--side, 
[data-layout~="2col"] .column--side 
{
  padding-left : 12px;
}

[data-layout~="1col"][data-layout~="left"] .column--side, 
[data-layout~="2col"][data-layout~="left"] .column--side 
{
  padding-left : 0;
  padding-right: 12px;
}

[data-layout~="3col"] .column--side.columnL
{
  padding-left : 12px;
  padding-right: 12px;
}

[data-layout~="3col"] .column--side.columnR
{
  padding-left : 12px;
}

[data-layout~="3col"][data-layout~="left"] .column--side.columnL
{
  padding-left : 0;
  padding-right: 12px;
}

[data-layout~="3col"][data-layout~="left"] .column--side.columnR
{
  padding-left : 12px;
  padding-right: 12px;
}

[data-layout~="3col"][data-layout~="split"] .column--side.columnL
{
  padding-left : 0;
  padding-right: 12px;
}

[data-layout~="3col"][data-layout~="split"] .column--side.columnR
{
  padding-left : 12px;
  padding-right: 0;
}


@media screen and ( max-width: 1140px ) {

  #column--side_columnL {
    padding-right: 12px;
  }

  [data-layout~="2col"][data-layout~="left"]  #column--side_columnL, 
  [data-layout~="3col"][data-layout~="left"]  #column--side_columnL, 
  [data-layout~="3col"][data-layout~="split"] #column--side_columnL 
  {
    padding-left : 12px;
  }

  #column--side_columnR {
    padding-right: 12px;
  }

}

@media screen and ( max-width: 992px ) {

  .column--side {
    padding-top: 45px;
  }

}

/* ---- */

.footer {
  border-top: 1px solid #f5f5f5;
  box-sizing: border-box;
}

.footer p.copyright {
  font-size: 0.75rem;
  line-height: 44px;
  margin: 0;
  text-align: right;
}

@media screen and ( max-width: 1140px ) {
  .footer p.copyright {
    margin: 0 12px;
  }
}

/* ---- */

.photographer-name {
	font-size: 0.75rem;
}

/* ---- */

#source {
  border-bottom: 1px solid #f5f5f5;
  padding: 3px;
  text-align: right;
}

#source ul {
  display: inline-block;
  float: left;
  font-size: 0;
  margin: 1px 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

#source li {
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 2rem;
  list-style: none;
  margin: 0 12px 0 0;
  padding: 0;
  vertical-align: top;
}

#source form {
  display: inline-block;
}

#search {
	display: block;
	flex: 0 0 auto;
	max-width: 256px;
	position: relative;
	text-align: right;
}

#search input,
#search button {
	display: inline-block;
	line-height: 2rem;
	margin: 0;
	outline: none;
	padding: 0;
	transition: 0.2s border ease-in-out;
	vertical-align: top;
}

#search input {
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.15);
	box-sizing: border-box;
	font-size: 0.875rem;
	padding: 0 60px 0 12px;
	width: 100%;
}

#search button {
	background-color: orange;
	border: 1px solid black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
  color: white;
  cursor: pointer;
	font-size: 0.75rem;
	position: absolute; top: 0; right: 0;
	text-align: center;
	width: 48px;
}

#search input:focus,
#search input:focus ~ button {
	border-color: orange;
}

/* ---- */

#thumbnails {
	box-sizing: border-box;
	margin: 0.5rem auto 0;
	padding: 3px;
}

#thumbnails a {
	box-sizing: border-box;
	padding: 3px;
	text-align: center;
}

#thumbnails img {
	vertical-align: top;
}

/* ---- */

#primitivConfig {

}

#primitivConfig label {
  font-size: 0.75rem;
}

#primitivConfig span.slider-value {
	float: right;
}

#primitivConfig legend {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

#primitivConfig input[type="checkbox"] {
  margin-right: 4px;
}

#primitivConfig input[type="range"] {
  background: transparent; /* Otherwise white in Chrome */
  width: 100%; /* Specific width is required for Firefox. */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

#primitivConfig input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#primitivConfig input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#primitivConfig input[type="range"] {
  margin: 0 0 1.125rem;
}

#primitivConfig input[type="range"]::-ms-track {
  cursor: pointer;
  width: 100%;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#primitivConfig input[type="range"]::-webkit-slider-runnable-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  cursor: pointer;
  width: 100%; height: 12px;
}

#primitivConfig input[type="range"]::-moz-range-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  cursor: pointer;
  width: 100%; height: 12px;
}

#primitivConfig input[type="range"]::-ms-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  color: transparent;
  cursor: pointer;
  width: 100%; height: 12px;
}
#primitivConfig input[type="range"]::-ms-fill-lower {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
}
#primitivConfig input[type="range"]::-ms-fill-upper {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
}

/* Special styling for WebKit/Blink */
#primitivConfig input[type="range"]::-webkit-slider-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  width: 12px; height: 12px;
  -webkit-appearance: none;
}
#primitivConfig input[type="range"]:focus::-webkit-slider-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

/* All the same stuff for Firefox */
#primitivConfig input[type="range"]::-moz-range-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  width: 12px; height: 12px;
}
#primitivConfig input[type="range"]:focus::-moz-range-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

/* All the same stuff for IE */
#primitivConfig input[type="range"]::-ms-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  width: 12px; height: 12px;
}
#primitivConfig input[type="range"]:focus::-ms-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

#primitivConfig fieldset {
  border: none;
  margin: 0 0 1.125rem;
  padding: 0;
}

#primitivConfig > fieldset label {
  cursor: pointer;
  display: block;
  margin: 0 0 0.5625rem;
}

#primitivConfig > fieldset label:last-child {
  margin-bottom: 0;
}

#primitivConfig input[name="alpha"] {
  margin: 0 0 0.5625rem;
}

#primitivConfig input[name="alpha"] + label {
  display: block;
  margin: 0 0 1.125rem;
}

#primitivConfig button[type="submit"] {
  background-color: #C2185B;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2rem;
  margin: 0 0 1.125rem 0;
  outline: none;
  width: 100%;
}

#primitivConfig button[type="submit"]:hover {
  background-color: #880E4F;
}

/* ---- */

#output-status {
  border: 0 solid #f5f5f5;
  border-width: 1px 0;
  box-sizing: content-box;
  height: 2rem;
  margin: 0 0 12px;
  padding: 0;
  text-align: right;
}

#output-status li {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 2rem;
  list-style: none;
  margin: 0;
  padding: 0 6px;
  vertical-align: top;
}

#output-status button {
  cursor: pointer;
}

#output-status li#steps {
  float: left;
  font-size: 0.625rem;
}

#output > div {
}

#vector-label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

#vector-text {
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.15);
	box-sizing: border-box;
  display: block;
	font-size: 0.75rem;
	line-height: 2rem;
	margin: 0;
	outline: none;
	padding: 0 6px;
	transition: 0.2s border ease-in-out;
	width: 100%;
}

#raster-label {
  font-size: 0.75rem;
}

/* ---- */

.loading {
	animation: loader-rotate .8s infinite linear;
	background: transparent;
	border: 6px solid rgba(100, 100, 100, .5);
	border-radius: 100%;
	border-top-color: #fff;
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -30px;
	opacity: .6;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 60px;
	z-index: 99999;
}

@keyframes loader-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* ---- */
