.loading {
	animation: loader-rotate .8s infinite linear;
	background: transparent;
	border: 6px solid rgba(100, 100, 100, .5);
	border-radius: 100%;
	border-top-color: #fff;
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -30px;
	opacity: .6;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 60px;
	z-index: 99999;
}

@keyframes loader-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

a {
  text-decoration: none;
}

img, svg {
	height: auto;
	max-width: 100%;
}

canvas {
  max-width: 100%;
}

.column--main {
	position: relative;
}

.photographer-name {
	font-size: 0.75rem;
}

.fedora ul#logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.fedora ul#logo li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.fedora ul#logo li svg {
	border-radius: 3px;
  height: 32px;
  margin: 6px;
  margin-left: 0;
	width: auto;
	z-index: 1;
}

.fedora ul#logo li h1 {
  line-height: 44px;
  margin: 0;
  padding: 0;
}

.fedora ul#logo li h1 a {
  color: #333333;
}

header a {
  color: #333333;
}

#search-container {
  border-bottom: 1px solid #f5f5f5;
  padding: 3px;
  text-align: right;
}

#search-container form {
  display: inline-block;
}

#search {
	display: block;
	flex: 0 0 auto;
	max-width: 256px;
	position: relative;
	text-align: right;
}

#search input,
#search button {
	display: inline-block;
	line-height: 2rem;
	margin: 0;
	outline: none;
	padding: 0;
	transition: 0.2s border ease-in-out;
	vertical-align: top;
}

#search input {
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.15);
	box-sizing: border-box;
	font-size: 0.875rem;
	padding: 0 60px 0 12px;
	width: 100%;
}

#search button {
	background-color: orange;
	border: 1px solid black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: white;
	font-size: 0.75rem;
	position: absolute; top: 0; right: 0;
	text-align: center;
	width: 48px;
}

#search input:focus,
#search input:focus ~ button {
	border-color: orange;
}

#thumbnails {
	box-sizing: border-box;
	margin: 0.5rem auto 0;
	padding: 3px;
}

#thumbnails a {
	box-sizing: border-box;
	padding: 3px;
	text-align: center;
}

#thumbnails img {
	vertical-align: top;
}

#primitivConfig {

}

#primitivConfig label {
  font-size: 0.75rem;
}

#primitivConfig span.slider-value {
	float: right;
}

#primitivConfig legend {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

#primitivConfig input[type="range"] {
  background: transparent; /* Otherwise white in Chrome */
  width: 100%; /* Specific width is required for Firefox. */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

#primitivConfig input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#primitivConfig input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#primitivConfig input[type="range"] {
  margin: 0 0 1.125rem;
}

#primitivConfig input[type="range"]::-ms-track {
  cursor: pointer;
  width: 100%;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#primitivConfig input[type="range"]::-webkit-slider-runnable-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  cursor: pointer;
  width: 100%; height: 12px;
}

#primitivConfig input[type="range"]::-moz-range-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  cursor: pointer;
  width: 100%; height: 12px;
}

#primitivConfig input[type="range"]::-ms-track {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  color: transparent;
  cursor: pointer;
  width: 100%; height: 12px;
}
#primitivConfig input[type="range"]::-ms-fill-lower {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
}
#primitivConfig input[type="range"]::-ms-fill-upper {
  background: #eeeeee;
  border: none;
  border-radius: 6px;
}

/* Special styling for WebKit/Blink */
#primitivConfig input[type="range"]::-webkit-slider-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  width: 12px; height: 12px;
  -webkit-appearance: none;
}
#primitivConfig input[type="range"]:focus::-webkit-slider-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

/* All the same stuff for Firefox */
#primitivConfig input[type="range"]::-moz-range-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  width: 12px; height: 12px;
}
#primitivConfig input[type="range"]:focus::-moz-range-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

/* All the same stuff for IE */
#primitivConfig input[type="range"]::-ms-thumb {
  background: #333333;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  width: 12px; height: 12px;
}
#primitivConfig input[type="range"]:focus::-ms-thumb {
  background: #2196F3;
  border-color: #2196F3;
}

#primitivConfig fieldset {
  border: none;
  margin: 0 0 1.125rem;
  padding: 0;
}

#primitivConfig > fieldset label {
  cursor: pointer;
  display: block;
  margin: 0 0 0.5625rem;
}

#primitivConfig > fieldset label:last-child {
  margin-bottom: 0;
}

#primitivConfig input[name="alpha"] {
  margin: 0 0 0.5625rem;
}

#primitivConfig input[name="alpha"] + label {
  display: block;
  margin: 0 0 1.125rem;
}

#primitivConfig button[type="submit"] {
  background-color: #C2185B;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2rem;
  margin: 0 0 1.125rem 0;
  outline: none;
  width: 100%;
}

#primitivConfig button[type="submit"]:hover {
  background-color: #880E4F;
}